<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="express.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="myapp">
          <match url="myapp/*" />
          <action type="Rewrite" url="express.js" />
        </rule>
      </rules>
    </rewrite>

  </system.webServer>
</configuration>